<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel = "stylesheet" href="css/style.css">
</head>
<body> 
    <section id="header">
        <a href="#"><img src="img/logo.png"> </a>
        <div>
            <ul id="navbar">
                <li><a href="index">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="signOut">Sign out</a></li>
                <li id="lg-bag"><a href="cart"><i class="fas fa-shopping-cart"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart"><i class="fas fa-shopping-cart"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <h3 style="margin-top: 0; text-align: center">Payment Failed</h3>


    <script src="js/script.js"></script> 
</body>
</html> 